*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Camel
target
*.iml
*.ipr
*.iws
.idea
.DS_Store
.classpath
.ekstazi
.project
.settings
.checkstyle
*.log
test-salesforce-login.properties
dependency-reduced-pom.xml
id_file
components/camel-solr/data
*.epoch
.factorypath
.pmd
